ErrorDocument 403 https://tacofinder.netlify.app/error/403
ErrorDocument 404 https://tacofinder.netlify.app/error/404
ErrorDocument 500 https://tacofinder.netlify.app/error/500

DirectoryIndex home.html
RewriteRule ^([^\.]+)$ $1.html [NC,L]

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
