/* Dark modes */
#darkToggle {
    display: block;
}

#darkToggleLabel {
    cursor: pointer;
}

.toggle-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.toggle-slot {
    position: relative;
    height: 2em;
    width: 4em;
    border: 5px solid #e4e7ec;
    border-radius: 10em;
    background-color: white;
    box-shadow: 0px 2px 5px #e4e7ec;
    transition: background-color 250ms;
}

.toggle-checkbox:checked~.toggle-slot {
    background-color: #374151;
}

.toggle-button {
    transform: translate(2.35em, 0.35em);
    position: absolute;
    height: 1.3em;
    width: 1.3em;
    border-radius: 50%;
    background-color: #ffeccf;
    box-shadow: inset 0px 0px 0px 0.15em #ffbb52;
    transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26, 2, .46, .71);
}

.toggle-checkbox:checked~.toggle-slot .toggle-button {
    background-color: #485367;
    box-shadow: inset 0px 0px 0px 0.75em white;
    transform: translate(0.35em, 0.35em);
}

.sun-icon {
    position: absolute;
    height: 1.2em;
    width: 1.2em;
    color: #ffbb52;
}

.sun-icon-wrapper {
    position: absolute;
    height: 1.2em;
    width: 1.2em;
    opacity: 1;
    transform: translate(0.4em, 0.4em) rotate(15deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26, 2, .46, .71);
}

.toggle-checkbox:checked~.toggle-slot .sun-icon-wrapper {
    opacity: 0;
    transform: translate(0.6em, 0.4em) rotate(0deg);
}

.moon-icon {
    position: absolute;
    height: 1.2em;
    width: 1.2em;
    color: white;
}

.moon-icon-wrapper {
    position: absolute;
    height: 1.2em;
    width: 1.2em;
    opacity: 0;
    transform: translate(2.2em, 0.4em) rotate(0deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26, 2.5, .46, .71);
}

.toggle-checkbox:checked~.toggle-slot .moon-icon-wrapper {
    opacity: 1;
    transform: translate(2.4em, 0.4em) rotate(-15deg);
}

:root {
    --bg: #f8f8f8;
    --text: #12181b;
    --border: #12181b;
    --box-text: #0c50b1;
    --main-bg: #F98125;
    --BDSBlue: #385e9d;
    --BDSYellow: #f2a900;
}

.darkmode {
    --bg: #121212;
    --text: #FFFFFF;
    --border: #FFFFFF;
    --box-text: #F98125;
    --main-bg: #F98125;
}

/* Device Media Queries */
@media screen and (max-width: 450px) {
    #dis {
        font-size: 16px;
    }
}

.showing {
    display: flex !important;
}

.name-row:not(.showing) {
    display: none !important;
}

/* Main */
html, body {
    height: 100%;
    margin: 0;
}

body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-color: var(--bg);
    color: var(--text);
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
    font-family: Verdana;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body.fadein {
    opacity: 0;
    transition: opacity 2s;
}

a {
    color: inherit;
    text-decoration: none;
}

/* navbar */
#hero {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--bg);
    padding: 15px 0 15px 0;
    border: none;
}

#hero li {
    float: left;
}

#hero li a {
    display: block;
    color: var(--text);
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: 1.4em;
}

/* Error Pages */
.fourPage {
    text-align: center;
}

/* Text Styling */
#largeTitle {
    font-size: 1.5rem;
    text-align: center;
}

p, #bodyText, #hats {
    font-size: 1.1em;
}

#noDot {
    list-style: none;
}

.footer {
    bottom: 0;
    background: transparent;
    text-align: center;
}

.carousel {
    background: #FAFAFA;
    position: relative;
}

.carousel img {
    display: block;
    height: 200px;
}

.flickity-page-dots {
    bottom: -50px !important;
}

.caption {
    background: var(--bg);
    margin: 0;
    padding: 10px;
    text-align: center;
    width: auto;
}

.static-banner {
    position: absolute;
    background: hsla(0, 0%, 0%, 0.3);
    z-index: 1;
    padding: 2px 20px;
    font-size: 26px;
    color: white;
    pointer-events: none;
}

.static-banner1 {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 33%;
}

@media screen and (max-width: 500px) {
    .static-banner1 {
        left: 0;
        top: 20px;
        background: none;
    }
}

@media screen and (min-width: 768px) {
    .carousel img {
        height: 400px;
    }
}

#hats {
    text-align: left;
    text-decoration: none;
    list-style-type: square;
}

.infoGridItems {
    border: 3px solid black;
    text-align: center;
    font-size: 25px;
    text-align: center;
    display: grid;
    overflow: hidden;
    min-width: 0;
}

.infoGridItems img {
    object-fit: cover;
    max-width: 50vw;
    max-height: 50vh;
    display: inline;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*font-size: 3rem;*/
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card p {
    user-select: none !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.photo-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
    overflow-y: hidden;
}

.flip-card {
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    color: white;
    transform: rotateY(180deg);
    overflow-y: scroll;
}

.flip-card-back p, a {
    padding: 5px;
}

h2 {
    font-size: 1.7rem;
    line-height: 1;
}

.BDSBlue {
    border: var(--BDSBlue) solid 4px;
}

.BDSYellow {
    border: var(--BDSYellow) solid 4px;
}

body::-webkit-scrollbar-track {
    background-color: var(--bg);
}

body::-webkit-scrollbar {
    width: 12px;
    background-color: var(--bg);
}

body::-webkit-scrollbar-thumb {
    background-color: #F98125;
}

img {
    max-width: 90vw;
}