:root {
    --navBarColor: #ffffff;
    --text: #000000;
    --background: #ffffff;
    --border: #000000;
}

/* Device Media Queries */
@media screen and (max-aspect-ratio: 5/4) and (max-width: 450px) {
    #dis {
        font-size: 16px;
    }
}

/* Main */
html, body {
    height: 100%;
    margin: 0;
}

body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: Verdana;
    margin: 0;
    padding: 0;
}

body.fadein {
    opacity: 0;
    transition: opacity 2s;
}

a {
    color: inherit;
    text-decoration: none;
}

.name-row {
    border: 3px solid black;
    border-radius: 6px;
    width: 400px;
    max-width: 60vw;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.name-row p, h2, img {
    font-size: 25px;
    font-weight: bold;
}

.name-row img {
    max-width: 40%;
}

.name-row h4 {
    display: none;
}

.about {
    background-color: green;
}

/* navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--navBarColor);
}

li {
    float: left;
}

li a {
    display: block;
    color: var(--text);
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
}

.rotated-image {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

label {
    padding-top: 20px;
    font-size: 1rem;
}

select {
    border: 1px solid #CCC;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
    padding: 13px 13px 13px 50px;
    font-size: 1rem;
    border: 1px solid #CCC;
    text-align: center;
    font-weight: bold;
}

#stars-select {
    background: url(https://cdn-icons-png.flaticon.com/512/1828/1828884.png) 3% / 16% no-repeat #EEE;
}

#vibe-select {
    background: url(https://cdn-icons-png.flaticon.com/512/2311/2311317.png) 3% / 16% no-repeat #EEE;
}

#location-select {
    background: url(https://cdn-icons.flaticon.com/svg/3916/3916880.svg?token=exp=1675638867~hmac=137cf7f48f758edf5fbb47b452f349a0) 3% / 16% no-repeat #EEE;
}

/* Selected Items */
.main {
    background: darkorange;
    /*background: -webkit-linear-gradient(to right, #F09819, #FF512F);
    background: linear-gradient(to right, #F09819, #FF512F);*/
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: scroll;
    margin-bottom: 30px;
}

.selectedItems {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.spicy {
    display: inline-block;
    font-weight: bold;
    margin: 15px;
    padding: 13px 13px 13px 50px;
    font-size: 1rem;
    border: 1px solid #CCC;
    text-align: center;
    background: url(https://cdn-icons-png.flaticon.com/512/2386/2386842.png) 3% / 16% no-repeat #EEE;
    cursor: pointer;
    color: black;
    /*
    border-radius: 15px;
    
    font-size: 1rem;
    margin: 20px;
    user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    */
}

#clearButton {
    position: fixed;
    bottom: 10px;
    width: 100%;
    height: 60px;
    right: 10px;
    background: transparent;
    text-align: center;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 15px;
    padding: 18px 20px;
    width: fit-content;
    color: black;
    font-size: 18px;
    user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
}

.starsButton {
    background-color: #800080;
}

.locationButton {
    background-color: #32936F;
}

/* Error Pages */
.fourPage {
    text-align: center;
}

/* Text Styling */
#largeTitle {
    font-size: 50px;
    text-align: center;
    margin-left: 75px;
    margin-right: 75px;
}

#bodyText {
    font-size: 30px;
    text-align: center;
    margin-left: 75px;
    margin-right: 75px;
}

#noDot {
    list-style: none;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: transparent;
    text-align: center;
}

/* Scroll Bar Width */
::-webkit-scrollbar {
    width: 10px;
}

/* Scroll Bar Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Scroll Bar Handle */
::-webkit-scrollbar-thumb {
    background: black;
}

/* Import */
#display {
    min-height: 100vh;
}

#hero {
    color: white;
    padding: 35px 0 35px 0;
    background-color: white;
    border: none;
}

#hero>h1 {
    margin-top: 0;
}

#search {
    padding-top: 35px;
}

#searchNames {
    padding-left: 15px;
    height: 40px;
    font-size: 16px;
    width: 50%;
}

#allNames {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    overflow-y: hidden;
    justify-items: center;
}

#errorMessage {
    display: none;
    color: red;
    text-align: center;
}

#loadWheel {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 40px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.name {
    color: blue;
    display: block;
    padding: 10px;
    text-transform: capitalize;
    text-align: center;
}

.location {
    display: block;
    text-align: center;
}

.stars {
    display: block;
    text-align: center;
    margin: 10px;
}

#noNameFound {
    display: none;
    color: red;
}